<!DOCTYPE html>
<html>
  <head>
    <title>Shopping with Codespaces</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.0.0-beta2/css/all.css"
      crossorigin="anonymous"
    />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Shopping with Codespaces" />
    <meta property="og:description" content="The best shopping on the web" />
    <meta property="og:image" content="/images/sunlight.jpg" />
  </head>
  <body>
    <header>
      <nav class="navbar has-background-dark is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer">
            <img src="/images/vscode.png" alt="VS Code" />
          </a>
          <div class="navbar-item nav-home">
            <span class="brand-first">Shopping</span>&nbsp; <span class="brand-second">With</span>&nbsp;
            <span class="brand-third">Codespaces</span>
          </div>
          <a
            class="navbar-item"
            href="https://github.com/johnpapa/shopping-for-codespaces/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fa-brands fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </div>
      </nav>
    </header>

    <div class="section columns">
      <main class="column">
        <div>
          <div>
            <div class="content-container">
              <div class="content-title-group">
                <h2 class="title">Products</h2>
                <button class="button add-button" aria-label="add">
                  <i class="fas fa-plus" aria-hidden="true"></i>
                </button>
                <button class="button refresh-button" aria-label="refresh">
                  <i class="fas fa-sync" aria-hidden="true"></i>
                </button>
              </div>
              <div class="columns is-multiline is-variable">
                <div class="column is-8">
                  <ul class="list">
                    <% for(var i=0; i < products.length; i++) { %>
                    <li role="presentation">
                      <div class="card">
                        <div class="card-content">
                          <div class="content columns">
                            <div class="column is-9">
                              <div class="name"><%= products[i].name %></div>
                              <div class="description"><%= products[i].description %></div>
                            </div>
                            <div class="column is-3">
                              <i class="<%= products[i].imageClass %>" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <footer class="card-footer">
                          <button class="link card-footer-item delete-item" aria-label="Delete" tabindex="0">
                            <i class="fas fa-trash"></i>
                            <span>Delete</span>
                          </button>
                          <button class="link card-footer-item edit-item" aria-label="Edit" tabindex="0">
                            <i class="fas fa-edit"></i>
                            <span>Edit</span>
                          </button>
                        </footer>
                      </div>
                    </li>
                    <% } %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
